@import "variables";

html{
  font: normal normal 16px/1.2 Helvetica, sans-serif;
}

$weather: sunny,rainy,cloudy, snowy;

#seattle{
  background-color: $black;
  color: $white;
  
  &:active{
    color: $black;
  }
  &:focus,
  &:hover
  {background: $pink;}
  
}

#london{
  background-color: $maroon;
  color: $white;
  
  &:active{
    color:$black;
  }
  
  &:hover{background: $pink;}
}

#currentlocalWeather{
  background-color: $teal;
  color: $white;
  
  &:active{
    color:$black;
  }
}

ul{
  list-style-type: none;
}

li{
  color: $black;
  }

//Here is my attempt at the for loop, but I keep getting error messages//
// @for $i from 1 through length($weather) {
   // &:nth-of-type(#{$i}):before {
    //  content: "#{nth($weather, $i)}";//
